extends layout

block content

  #assignment_three
    h2 Assignment 3

    h3 1. Two panel visualization
    
    p Please start by hovering some of the points in the graph on the right to see the outline of the corresponding hand. You can also select multiple points by drawing a rectangle on the scatter plot. 

    .row
      .col-md-6
        svg#panel-one
      .col-md-6
        svg#panel-two

    h3 2. Intuitive description

    p The plots presented above represent a dataset consisting of hand attributes (e.g. size, color, shape, etc.). 

    p In order to represent the multi-dimensional we needed to perform a Principal Component Analysis. Through PCA we converted the initial dataset to a set of values of linearly uncorrelated variables called principal components. The scatter plot on the right is a visualization of the two principal components of this dataset. Each dot on the scatter plot represents an instance of the data, which in our case is a hand. Each time we hover our mouse above a dot we can see the hand representation on the left panel.

    p As it can be observed, the X-axis represents the size of the hand. The higher the value, the bigger the hand. As it can be seen, #[span(class="extra-information" index="30") this] hand's palm is much smaller than #[span(class="extra-information" index="35") this] hand's palm. The Y-axis indicates the average distance between each finger of the hand from the middle finger. As it can be seen, the average distance between #[span(class="extra-information" index="4") this] hand's fingers is smaller than #[span(class="extra-information" index="37") this] hand's fingers. The difference is most noticeable between #[span(class="extra-information" index="37") this] hand and #[span(class="extra-information" index="39") this one], where we can see that from the first one there is a big distance between the middle finger and the ring finger, as well as the distance between the middle finger and the pinky finger is bigger compared to the rest of the data. Same goes for the second hand where we can see that the difference between the middle finger and the index finger as well between the middle finger and the thumb are bigger compared to the rest of the dataset.

    p In addition, we can see that there are certain outliers in the scatter plot, which show that these are hand measurements that were taken from hands that were probably not in a neutral position, like #[span(class="extra-information" index="37") this one]  and #[span(class="extra-information" index="39") this one].

    h3 3. Individual part

    h4 Bjarki

    p Made the ability to add a custom class and an attribute to any element in our descriptions that , when hovered, highlights a certain point and triggers the corresponding hand to be drawn. This allows us to include triggers within our text that the user can interact with, making our descriptions more readable and our visualizations more intuitive. 

    h4 Thomas

    p I created the rectangular selection functionality as well as the ability to draw multiple hands in the first panel. The rectangle functionality is mainly stolen from #[a(href="http://bl.ocks.org/lgersman/5311083", target="_blank") improved version of my d3.js selection frame...] with some modifications. 

    p #[i Additional explanation:] #[br] I used the solution from the blog to know what circles are selected by the user. All the rest is made from scratch. The functionality of drawing multiple hands is a bit of a "hack". That is, the hand you see when hovering a dot and the one(s) you see when selecting using the rectangle are created differently. The single hand is just updating the 'd' attribute of a path (this enables us to use the nice transition animation) whereas the multiple hands are created using the ENTER, UPDATE, and EXIT methodology of D3.

    h4 Sokratis

    p In order to implement the tootip interaction, I created a new variable called "tootip" in the file "pca_scatter.js", appended it to to the body with the class name "tooltip" added it to the scatter plot when it is drawn. I implemented a "mouseover" and a "mouseout" interactivity so that the tooltip will appear above a dot in the scatter plot when the mouse hovers over it and will fade away after a certain duration. In addition I added a style for the tooltip in the "assignment_three.scss" style file, to give it its attributes (height,width, font, etc.).

    //- load script
    script(src='/javascripts/assignment_three/assignment_three.js')
    script(src='/javascripts/assignment_three/helpers.js')
    script(src='/javascripts/assignment_three/hand_graph.js')
    script(src='/javascripts/assignment_three/pca_scatter.js')