extends layout

block content

  #assignment_two
    h2 Assignment 2

    h3 1. Two visualizations

    h4 Box-plot made from scratch

    #boxplot


    h4 Radar chart

    p The following Radar Chart shows the change in degree from 1902 to 2015 in Thessaloniki, Greece.
    
    #radar-chart

    .row
      .col-md-6
        p Here on the right you can multi-pick years that you want to compare together.
      .col-md-6
        select(id="year-picker" class="form-control" multiple)

    p Source: #[a(href="http://bl.ocks.org/nbremer/6506614") D3.js - Radar Chart or Spider Chart - Adjusted from radar-chart-d3]


    h3 2. Motivation, method, approach, etc.

    h3 3. Individual parts

    h4 3.1 (Bjarki)

    h4 3.2 (Thomas)

    h4 3.3 (Sokratis)

  //- load script
  script(src='/javascripts/assignment_two/assignment_two.js')
  script(src='/javascripts/assignment_two/radar-chart.js')