extends layout

block content

    #assignment_five

        h2 Assignment 5 Part 2

        p Use the #[code left] and #[code right] arrows to move along sagittal axis

        p Use the #[code up] and #[code down] arrows to move along the axial axis

        p Use #[code w] and #[code s] to move along the coronal axis

        p Use the mouse to rotate and mouse wheel to zoom in and out

        div#wrapper
            div#scene
                div#info

        script(src='/javascripts/assignment_5/assignment_5_2.js')