extends layout

block content

    #assignment_6
        h2 Final Project
        br
        br
        .row
            .col-md-6
                #map
            .col-md-6
                #message_board

        #slider

    script(src='/javascripts/assignment_6/assignment_6.js')
    script(src='/javascripts/assignment_6/helpers.js')
    script(src='/javascripts/assignment_6/slider.js')
