extends layout

block content

    #assignment_6
        h2 Final Project
        br
        br
        .row
            .col-md-6
                #map
                    .controls.text-center
                        #control-toggle.glyphicon.glyphicon-pause
            .col-md-6
                #message_board

        #slider

    script(src='/javascripts/assignment_6/slider.js')
    script(src='/javascripts/assignment_6/assignment_6.js')
    script(src='/javascripts/assignment_6/helpers.js')
