extends layout

block content

  #assignment_one
    h2 Assignment 1

    p Here below you'll find our answers to the questions in #[code Assignment 1]. 

    h3 1. Webserver

    p We are using #[a(href="https://heroku.com") Heroku] to host our web server. In order to publish changes to the page, one has to request access to the Heroku application. Once that is done, download and install the #[a(href="https://toolbelt.heroku.com/") Heroku toolbelt]. Then login to your Heroku account using the toolbelt as such:

    pre $ heroku login

    p Publishing the application to Heroku is just like pushing code to your repository. Start by cloning the project:

    pre $ git clone git@github.com:bjerkins/diku-ide.git

    p and then add a new repository (within the project) using the toolbelt:
    
    pre $ heroku git:remote -a diku-ide

    p Now you can make changes to the website and push them to both #[code origin] and #[code heroku]:

    pre $ git add .
      | $ git commit -m 'made some changes'
      | $ git push origin master
      | $ git push heroku master

    h4 Limitations

    p As for limitations, we are using Heroku's basic plan which includes a single dyno (512 MB RAM), which is not a lot. However, the web-visualizations all run on the client which takes the load of the server drastically. The only purpose of the server is to serve data and do some minimal page rendering. It is not until we get a lot of traffic that we need to think about scaling up to handle all the request to our data. 

    h3 2. Appended image

    p See the image at the bottom of this page. The JavaScript code used to display the image can be seen below:

    pre var image = new Image();
      | image.src = '/images/image_01.jpg';
      | 
      | image.onload = function()
      | {
      |   document.getElementById("assignment_one").appendChild(image);
      | }

    
    p Source: #[a(href="http://heltnormalt.dk/wulffmorgenthaler/2010/08/02") Helt Normalt]

    h3 3. Interesting links
    p We list bellow some links to interactive data visualization examples.
    p  #[a(href="http://www.nytimes.com/interactive/2012/02/13/us/politics/2013-budget-proposal-graphic.html") Four Ways to Slice Obama’s 2013 Budget Proposal]

    p In this visualization the data is about the total amount of dollars that were spent by the US government and are organized with different colors, from Green to Red. This visualization is simple to understand because it is organized in various types of spending, while also showing changes and departemental totals. In addition, if we hover our mouse above any of the circles presented we can also get additional information. This visualization delivers a thorough and easy to understand report, while keeping the presentation of numbers to minimum.
  
    p #[a(href="https://www.jasondavies.com/maps/countries-by-area/") Countries by Area]

    p In this example, the sizes of the countries are presented with respect to each other, using the stereographic projection. The good thing with this one is that we can easily get an idea of the size a country, compared to the others. However, we can not have any additional information such as the actual size, thus making this example not informative enough.

    p #[a(href="http://bl.ocks.org/mbostock/7607535") Zoomable Circle Packing]

    p The technique used in this visualization is called " static circle packing" and it is easy to use when we need to present sets and subsets of data. It can easily sum up information and also show the information within the inner circles. In this example, various subjects are presented (e.g. display, physics, etc.) and if we clock in one of the circles we can see the different subcategories of each subject.

    p #[a(href="http://bl.ocks.org/kerryrodden/7090426") Sequences sunburst]

    p In this example, the method being used is called "sunburst visualization" and describes sequences of events. This method can be used whenever we need to visualize paths, such as navigation paths in websites and analyze the number of times that users visited a specific link. If we hover our mouse on top of one of the sectors presented, then the sectors that lead to this one will also be highligted. This way we can get a clear image of the structure of a website.

    h3 4. Individual parts

    h4 Bjarki

    p As I'm currently doing a project on architectural evolutions, e.g how an software architecture evolves over time, it would be nice to create a visualization of this evolution over time. Adding interactivity (panning, scrolling) through time and seeing changes in the architecture, for example added or removed dependencies (the dataset) would help describe and understand the evolution, and perhaps find patterns that could be identified and used to predict future evolution of other architectures. This visualization could then be used by software architects and help them to make design decisions.   

    h4 Thomas

    h4 Sokratis

    p By the time we finish this course, I would like to be able to easily create visualizations about analysis on information retrieved from a database. e.g. How I would be able to use the visualization to present a report to a company about the usage of its product. I would like to be able to make an interactive visualization which would show the progress of a product over time and also be able to go in depth in particular dates to show any additional information needed. I think this visualization would be a good way to present numbers about revenue, expenses, etc because it organizes them in small chunks of information that is easy to understand.
    
    //- load script
    script(src='/javascripts/assignment_one.js')
