extends layout

block content

  #assignment_two
    h2 Assignment 2

    h3 1. Two visualizations

    h4 Box-plot made from scratch

    #boxplot

    h4 Radar chart

    p The following is a Radar Chart showing the same dataset as in the visualization from above.
    
    #radar-chart

    .row
      .col-md-6
        p Here on the right you can multi-pick years that you want to compare together.
      .col-md-6
        select(id="year-picker" class="form-control" multiple)

    p Source of visualization: #[a(href="http://bl.ocks.org/nbremer/6506614") D3.js - Radar Chart or Spider Chart - Adjusted from radar-chart-d3]


    h3 2. Motivation, method, approach, etc.

    h3 3. Individual parts

    h4 3.1 (Bjarki)


    h4 3.2 (Thomas)

    p I will focus on the box-plot visualization for this section - because that is the static one and made from scratch.

    p It is not hard to see that with a hundred+ years, the visualization is very cluttered; having a box for each year. We could have added a "group" function where the user could choose the number of boxes. Say, we have 100 years, the user chooses 10 boxes, then we would average the values from year 0 to 9 in the first box, year 10 to 19 in the second, and so forth. 

    p Another similar approach (to reduce cluttering) would be to add a time line slider below the chart - e.g. like the one found here: #[a(href="http://bl.ocks.org/DStruths/9c042e3a6b66048b5bd4") D3 chart with interactive time line slider].

    p Lastly, we could add simple, yet very informative, legends on hover. E.g., such that the user can hover over a box and see the data representing that box. As the visualization is now, you almost need a ruler glued to your screen to read the values from a box.

    p Mock-up of this feature (disclaimer: made in MS paint): 

    img(src= "/images/image_02.png", class="mock-up")

    h4 3.3 (Sokratis)

  //- load script
  script(src='/javascripts/assignment_two/assignment_two.js')
  script(src='/javascripts/assignment_two/radar-chart.js')