extends layout

block content

    #assignment_five

        h2 Assignment 5 Part 2

        p Use the left and right arrows to move along sagittal axis

        p Use the up and down arrows to move along the axial axis

        p Use 'w' and 's' to move along the coronal axis

        div#wrapper
            div#scene

        script(src='/javascripts/assignment_5/assignment_5_2.js')