extends layout

block content

  #assignment_three
    h2 Assignment 3

    h3 1. Two panel visualization
    
    p Please start by hovering some of the points in the graph on the right to see the outline of the corresponding hand. This #[p(class="extra-information" index="39") point] is crazy!

    .row
      .col-md-6
        svg#panel-one
      .col-md-6
        svg#panel-two

    h3 2. Intuitive description

    h3 3. Individual part

    h4 Bjarki

    h4 Thomas

    h4 Sokratis

    p Please explain how you did your tooltips :)

    //- load script
    script(src='/javascripts/assignment_three/assignment_three.js')
    script(src='/javascripts/assignment_three/helpers.js')
    script(src='/javascripts/assignment_three/hand_graph.js')
    script(src='/javascripts/assignment_three/pca_scatter.js')