extends layout

block content

    #assignment_five

        h2 Assignment 5 Part 2

        h3 Instructions

        p - Use the #[code left] and #[code right] arrows to move along sagittal axis #[br]  - Use the #[code up] and #[code down] arrows to move along the axial axis #[br]- Use #[code w] and #[code s] to move along the coronal axis #[br]- Use the mouse to rotate and mouse wheel to zoom in and out #[br]

        p The white arrow above the brain indicates the line of sight of the human (i.e. where she is looking at).

        div#wrapper
            div#scene
                div#info

        h3 Discussion

        p We something

        script(src='/javascripts/assignment_5/assignment_5_2.js')