extends layout

block content

  #assignment_three
    h2 Assignment 3

    h3 1. Two panel visualization

    svg#panel-one
  
    svg#panel-two

    //- load script
    script(src='/javascripts/assignment_three/assignment_three.js')
    script(src='/javascripts/assignment_three/helpers.js')
    script(src='/javascripts/assignment_three/draw-hands.js')