extends layout

block content

    #assignment_6
        h2 Final Project

        #dropdown.form-group

        .row
            .col-md-6
                #map
                    .controls.text-center
                        .control.glyphicon.glyphicon-backward
                        #control-toggle.control.glyphicon.glyphicon-play
                        .control.glyphicon.glyphicon-forward
            .col-md-6
                #message_board
                    p.welcome

                hr
                .timeline-container
                    ul.timeline#timeline

    script(src='/javascripts/assignment_6/timeline.js')
    script(src='/javascripts/assignment_6/helpers.js')
    script(src='/javascripts/assignment_6/assignment_6.js')
