extends layout

block content
    
  #assignment_four
    h1 Assignment 4

    p We chose to use CartoDB for our maps for a few reasons. First, the transformation of the data to SQL queryable format is super nice and gives a very powerful entry to query the data. Second, the available maps are extremely flexible and customizable that requires no code at all to implement the default behaviors of the map. Finally, their Javascript SDK is easy to use for embedding the maps in our web application. 

    h3 Crimes per Police District

    p.small.all-caps Data used: #[code sf_crime.geojson] and #[code sfpd_districts.geojson]

    p The following map shows the 10 police districts in San Fransisco where each one has been colored depending on the total crimes recorded within it (#[i stronger color = more crimes]). The data consists of 10 thousand recorded crimes in the period of January 2003 to May 2015. As the map clearly shows, the Southern District (South of Market) makes up of nearly 20% of the total crimes (1819 crimes of 10.000 total), while the Richmond District contains the fewest or around 5% (513 crimes).

    p Although it certainly looks like the Southern District is the worst part of San Fransisco, we haven't taken into account the population density of each district. Including that data would give a more correct visualization of which district has the most crime-related problems, since naturally where more people are living more crimes are committed. Our intuition is that the more crimes that are committed per capita the more serious of a problem it has. We tried finding data on the population for each district but were unfortunately unable to find it.

    h4 Implementation

    p We used the merge tool on CartoDB to do a #[i column join merge] of the two datasets used in this visualization where the datasets were merged on the name of the district. After that, we used the following custom SQL statement to count the crimes within each district:

    pre SELECT COUNT(district) as numberofcrimes, district
      | FROM sf_crime_merge
      | GROUP BY district

    div#map1.map

    h3 Types of Crime Throughout the Day

    p Using the same datasets, we can look at another interesting aspect of crime in San Fransisco: at what time of day does most crime occur and does the types of crime change throughout the day. To explore this aspect, we created the visualization below where we discarded the day and year of the crimes and solely looked at the time of day and type of crime. The color coding for the crimes are chosen somewhat to differentiate the severeness of the crime (e.g. "suspicous occ", "other offenses", and "non-criminal" are almost indistinguishable whereas "drug/narcotic" sticks out). Hint: you can pause the animation, click on the slider and then use the arrow keys to step through the animation.

    p The first thing you might notice is how it seems that a lot of crimes happen exactly at X O'clock. This could simply be explained by some officers disregarding the minute count and just rounding to the nearest hour. Now, let us look at the number of crimes registered throughout the day. In the time period of ~03 to ~08, few crimes are registered. Hopefully, the bad guys are sleeping. Although, it could also be due to fewer cops on the streets during these hours. The day is busier and during the evening and early night, a lot of crimes are reported.

    p We can also note the type of crime in the different police districts. Most noticeable is drug and narcotic crime (black dots). They seem to take place mostly in and around the Tenderloin district. This is not all that unexpected if you believe that drugs and other crimes go hand in hand. If we look back at the first visualization, Tenderloin has 909 registered felonies - that is quite a large number for such a small area.

    p Lastly, we were surprised that you cannot see a bigger difference in car thefts and burglaries during the night compared to day. Maybe burglaries happen 24/7 or maybe they are just reported at different times of the day.  

    div#map2.map

    h3 Crimes during certain periods of the year

    p The following map shows the crimes commited in the state of San Fransisco durin a period of 2003-2015. At a first glance we can notice that there is a constant increase and decrease in the number of crimes during the pass of the years.

    p As it can be observed there are certain periods during each year that have a higher number of crimes than the rest of the year. These periods can be primarily identified during Decemer, January, April, May, July, August and October. 

    p During December and January are the christmas holidays, during which period people in the north eastern side of San Fransisco, where it is considered to be a high value area, we can notice a lot of thefts (indicated by the green dots). This can happen due to the fact that during this period habitants may leave their home for vacation. As a result, these areas are more probable to be robbed.

    p We can notice the same pattern for the months April and May because during that period is the spring break in San Fransisco in the same area as described above. The same pattern occurs during October because that period is the fall break in San Fransisco.

    p Same goes for the months July and August because during that period is the summer break and so people tend to leave the city for the coast areas, hence there is an increase of thefts (green dots) in the city areas in the north east.

    div#map3.map
    //- load scripts
    script(src='/javascripts/assignment_four/san_map.js')
    script(src='/javascripts/assignment_four/assignment_four.js')
    