extends layout

block content

  h2 Assignments
  
  table.table.table-bordered
    thead
      tr
        th #
        th Name
        th Status
    tbody 
      tr.success
        td 1
        td: a(href="/assignments/1") Assignment 1
        td Complete
      tr.success
        td 2
        td: a(href="/assignments/2") Assignment 2
        td Active
      tr
        td 3
        td Assignment 3
        td: i Coming soon
      tr
        td 4
        td Assignment 4
        td: i Coming soon
      tr
        td 5
        td Assignment 5
        td: i Coming soon 