extends layout

block content

  h2 Assignments
  
  table.table.table-bordered
    thead
      tr
        th #
        th Name
        th Status
    tbody 
      tr.success
        td 1
        td: a(href="/assignments/1") Assignment 1
        td Complete
      tr.success
        td 2
        td: a(href="/assignments/2") Assignment 2
        td Complete
      tr.success
        td 3
        td: a(href="/assignments/3") Assignment 3
        td Complete 
      tr.success
        td 4
        td: a(href="/assignments/4") Assignment 4
        td Complete
      tr.info
        td 5
        td: a(href="/assignments/5") Assignment 5
        td: i Active 