doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/bower_components/cartodb.js/themes/css/cartodb.css')

    //- include library scripts
    script(src='/bower_components/d3/d3.js')
    script(src='/bower_components/topojson/topojson.js')
    script(src='/bower_components/datamaps/dist/datamaps.world.min.js')
    script(src='/bower_components/queue-async/queue.js')
    script(src='/bower_components/d3-tip/index.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/cartodb.js/cartodb.js')
    script(src='/bower_components/three.js/build/three.js')
    script(src='/bower_components/three.js/examples/js/controls/FlyControls.js')
    script(src='/bower_components/three.js/examples/js/controls/OrbitControls.js')
  body
    .container
        .header.clearfix
            ul.nav.nav-pills.pull-right
                li(class=(current === 'home' ? 'active' : ''))
                    a(href="/") Home

            h3.text-muted Interactive Data Exploration
                small  5100-B2-2E15

        block content

        footer.footer
            p Bjarki Madsen - Thomas Jensen - Sokratis Siozos-Drosos
