#map {
	position: relative;
    margin: auto;
    width: 420px;
}

#message_board {
  p.welcome {
    text-align: center;
    font-size: 32px;
    color: #666666;

    .captain_txt,
    .ship_txt {
      font-weight: bold;
      color: #333333;
    }
  }
}










.tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: square;
}

.slider .handle path {
  stroke: #b000b5;
  stroke-width: 3px;
  stroke-linecap: square;
  pointer-events: none;
}

.slider .handle text {
  fill: #b000b5;
  text-align: center;
  font-size: 18px;
}
